.event-head {
    display: flex;
    flex-direction: row;
}

.event-gallery {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 100px); /* Subtract navbar height */
    overflow-y: auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.upcoming-filter {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    align-self: flex-end;
    height: 40px;
}

.add-event {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    align-self: flex-end;
    height: 40px;
}

.gallery-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding-bottom: 20px;
}

.gallery-grid div {
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
}

.gallery-grid div:hover {
    transform: scale(1.02);
}