.event-gallery {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.add-event {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.gallery-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
}

.gallery-grid {
    display: flex;
    gap: 20px;
}

.gallery-grid div {
    cursor: pointer;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    width: 300px;
}

.gallery-grid div:hover {
    transform: scale(1.05);
}