.event-info h2:hover{
    color: #b8b2b2;
}
.info{
    display: none;
}
.event-info h2{
    text-align: right;
}

.launch-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .launch-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  